body {
    background-color: antiquewhite;
}
*{
    margin: 0px;

}
/*
h1 {
    background-color: antiquewhite;
    width: 100%;
    text-align: center;


}*/

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    font-size: auto;
    background-color: #efd4d1;
    width: 100%;
    height: 100px;
    text-align: center;
    
    
}